<section class="novelty">
    <app-header></app-header>

    <div class="novelty-title">
        <h3>НОВОСТИ KALMYKIA WOOL</h3>
    </div>
    <div class="container __novelty-container">
        <div class="novelty-content">

            <img class="novelty-content-img"
                src="https://images.unsplash.com/photo-1596557770430-92f21e94ee47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                alt=""
            >

            <div class="novelty-content-title">
               <h4> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
            </div>
            <div class="novelty-content-description">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore qui error suscipit? Labore amet sapiente facere hic sequi dolor mollitia quo illum ullam distinctio. Sit tempora tenetur quam amet alias odit autem dignissimos temporibus officiis ut, et ex exercitationem? Animi, quam doloribus architecto ea praesentium delectus magnam quas, voluptatibus ullam illo totam maxime reprehenderit quos voluptate, sapiente laboriosam optio est.</p>
            </div>
            <button 
                class="novelty-content-btn"
                routerLink="/"
                
            >
                Вернуться назад
            </button>
        </div>
    </div>

</section>