<div class="admin">
    <header class="admin__header">
        <div class="admin__header-logo">
            <img 
            routerLink="/"
            src="assets/images/logo.svg" alt="logo">
        </div>
        <div class="admin__header-nav">
            <img src="assets/images/process/sheepDecor.png" alt="decor">
            <a href="#add">Добавить статью</a>
            <img src="assets/images/process/sheepDecor.png" alt="decor">
           
            
        </div>
        <div class="admin__header-nav">
            <img src="assets/images/process/sheepDecor.png" alt="decor">
            <a href="#add">Удалить статью</a>
            <img src="assets/images/process/sheepDecor.png" alt="decor">
        </div>
    </header>


   

</div>