
<div class="assortment-cards">
    <div class="assortment-cards-card" *ngFor="let item of assortment">
        <img src={{item.img}} alt="">
        <div class="assortment-cards-card-content">
            <div class="assortment-cards-card-content-title">
                <h4>{{item.title}}</h4>
            </div>
            <div class="assortment-cards-card-content-description">
                <p>{{item.description}}</p>
            </div>
            <button routerLink="/detailed">
                <p>Подробно</p>
                
            </button>
        </div>
    </div>
</div>
