
<div class="assortment-cards">
    <div class="assortment-cards-card" *ngFor="let item of assortment">
        <img src="{{ imgUrl + item.attributes.image.data.attributes.url}}" alt="img">
        <div class="assortment-cards-card-content">
            <div class="assortment-cards-card-content-title">
                <h4>{{item.attributes.title}}</h4>
            </div>
            <div class="assortment-cards-card-content-description">
                <p>{{item.attributes.description}}</p>
            </div>
            <button routerLink="/detailed">
                <p>Подробно</p>
                
            </button>
        </div>
    </div>
</div>
