.about__subDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;


    &-box {
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & h1 {
            padding: 20px 0;
            text-align: center;
            font-weight: 900;
            font-size: 50.87px;
            line-height: 62px;
            text-transform: uppercase;
            color: #EDC147;
            padding-bottom: 0;
        }

        & p {
            border-top: 1px solid rgb(0, 0, 0);
            padding: 20px 0 0 20px;
            color: #3D4043;
        }
    }

    &-link {

        display: flex;
        justify-content: center;
        align-items: center;

        & a {

            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
            border: 1px solid #3D4043;
            width: max-content;
            transition: 0.5s ease-in;

            & p {
                font-style: normal;
                font-weight: 400;
                font-size: 21px;
                line-height: 33px;
                color: #3D4043;
                letter-spacing: 0.5px;
                margin-left: 5px;
                padding: 5px 17px;
            }
        }
    }
}


.about__subDescription-link a:hover {
    transform: scale(0.9);
}

.about__subDescription-box::before {
    content: "";
    background-color: rgb(0, 0, 0);
    width: 1px;
    height: 86px;
    position: relative;
    top: 168px;

}


.about__subDescription-link {
    padding-bottom: 150px;
    color: #3D4043 !important
}







@media (max-width:942px) {
    .about__subDescription {
        margin-top: 55px;
    }
}

@media (max-width:800px) {
    .about__subDescription {
        margin-top: -150px;

        &-link a p {
            font-size: 17px;
            padding: 0 12px;
        }
    }
}

@media (max-width:500px) {
    .about__subDescription {
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        gap:71px;
    }


}

@media (max-width: 447px) {
    .about__subDescription-link {
        padding-bottom: 80px;

    }
}