<section class="news" style="margin-bottom: 50px;" id="news">
   <div class="news-container">
    <div class="news__decor">
    <img src="assets/images/news/group.png" alt="">
    </div>
    <div class="news__text">
        <div class="news__text-title">
            Сми о нас
        </div>
        <div class="news__text-subtitle">
            При изготовлении пряжи на заводах шерсть очищают специальными средствами, и тщательно её моют. Ткани шерсти не мнутся, хорошо сохраняют форму
        </div>
       </div>

   </div>
   
    <app-news-card></app-news-card>
  
     
 </section>
