<section class="company" id="company">
    <div class="under__decor"></div>
    <div class="company-decors">
        <div class="company-decors-decor"></div>
        <div class="company-decors-decorlittle"></div>
    </div>
    <div class="company-decors-mob">
        <div class="company-decors-mob-decor"></div>
        <div class="company-decors-mob-decorlittle"></div>
    </div>
   

   

    <div class="company-title">
        Компании, которые нам доверяют
    </div>
    <div class="company-text">
        <div class="company-text-title">
            Партнеры и клиенты компании - наша главная ценность. Мы работаем для них и взамен получаем приятные
            положительные отзывы
        </div>
    </div>

    <div class="company-logos">
        <img src="assets/images/company/t.png" alt="logo1">
        <img src="assets/images/company/dme.png" alt="dme">
        <img src="assets/images/company/discover-wisconsin 2.png" id="discover-wisconsin" alt="dw">
        <img src="assets/images/company/anda.png"  id="anda" alt="anda">
        <img src="assets/images/company/blades.png" alt="blades">

    </div>
    <div class="company-logos">

        <img src="assets/images/company/blades.png" alt="blades">
        <img src="assets/images/company/discover-wisconsin 2.png" id="discover-wisconsin" alt="dw">
        <img src="assets/images/company/logo-kamvol-baner.png" alt="«Камволь»">
        <img src="assets/images/company/logo (1).svg" alt="Беллегпром">
        <img src="assets/images/company/anda.png"id="anda"  alt="anda">

    </div>
</section>