<section class="company" id="company">
    <div class="under__decor"></div>
    <div class="company-decors">
        <div class="company-decors-decor"></div>
        <div class="company-decors-decorlittle"></div>
    </div>
    <div class="company-decors-mob">
        <div class="company-decors-mob-decor"></div>
        <div class="company-decors-mob-decorlittle"></div>
    </div>
   

   

    <div class="company-title">
        Компании, которые нам доверяют
    </div>
    <div class="company-text">
        <div class="company-text-title">
            Партнеры и клиенты компании - наша главная ценность. Мы работаем для них и взамен получаем приятные
            положительные отзывы
        </div>
    </div>

    <div class="company-logos">
        <div class="container">
        <div class="company-logos-logo">
            <a href="https://www.kamvol.by/">
                <img src="assets/images/company/logo-kamvol-baner.png" alt="kambol">
            </a>
            <p>ОАО «Камволь» - крупнейший производитель текстильной продукции, 
                обладающий полным циклом производства: от изготовления пряжи до выпуска 
                ткани и поставки продукции в страны Европы и СНГ. 
            </p>
        </div>

        <div class="company-logos-logo">
            <a href="https://skpf.by/ ">
                <img src="assets/images/company/«Беллегпром».svg" id="begleprom" alt="«Беллегпром»">
            </a>
            <p>Открытое акционерное общество «Слонимская камвольно-прядильная фабрика» 
                относится к текстильной отрасли и входит в состав Белорусского государственного 
                концерна по производству и реализации товаров легкой промышленности «Беллегпром». 
            </p>
        </div>
    </div>
    </div>

    <div class="company-diploma">
        <div class="company-diploma-title">Наши достижения</div>
        <div class="company-diploma-item">
            <img src=".../../../../../../assets/images/company/Калмык Вул_Диплом Бизнес Успех-1.png" alt="Калмык Вул_Диплом Бизнес Успех-1">
            <img src=".../../../../../../assets/images/company/Калмык Вул_Член ТПП-1.png" alt="Калмык Вул_Член ТПП-1">
        </div>


    </div>
   
</section>