.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & a {
        color: #FFFFFF;
        font-size: 21px;
        line-height: 33px;
        text-align: end;
    }
}

@media (max-width:800px) {
    .footer-contacts  a{
        font-size: 18px;
    }
}


@media (max-width:544px) {
    .footer-contacts{
        display: none;
    }
}