.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    align-items: flex-end;
    justify-content: flex-end;

    & a {
        color: #FFFFFF;
        font-size: 21px;
        line-height: 33px;
        text-align: start;
        cursor: pointer;
        width: 250px;

    }
}

@media (max-width:800px) {
    .footer-contacts a {
        font-size: 18px;
    }
}


@media (max-width:784px) {

    .footer-contacts a {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        
    }

    .hidden {
        display: none !important;
    }
}