.about {
    &-blur {
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 57.05%);
        position: absolute;
        bottom: 0px;
        left: 0;
        opacity: 1;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        & img{
            width: 180px;
            height: auto;
        }
    }
    &-title{
        width: 100%;
        padding: 250px 0 90px;
        font-style: normal;
        font-weight: 500;
        font-size: 39.4595px;
        line-height: 48px;
        text-align: center;
        max-width: 750px;
        color: #3D4043;
        margin: 0 auto;
        padding-top: 100px;
    }
}

@media (max-width:801px) {
    .about img {
        display: none;
    }
    .about-blur{
        height: 227px;
    }

    .about-title {
        padding: 0;
        padding-bottom: 50px;
        font-size: 30.4595px;
    }
}

@media (max-width:500px) {
    .about-title{
        font-size: 25.4595px;
    line-height: 45px;
    }
}