<section class="about" id="about">
    <div class="about-blur">
        <img src="assets/images/logo.svg" alt="Лого" class="about-logo">
    </div>
    <div class="container">
        <div class="about-title">
            Переработка шерсти является одной из самых перспективных отраслей для нашего региона
        </div>
        <app-about-text></app-about-text>
        <app-about-content></app-about-content>
        <app-about-description></app-about-description>
        <app-about-new-content></app-about-new-content>
        <app-about-sub-description></app-about-sub-description>
        
    </div>
</section>