<footer class="footer" id="contacts">
    <div class="footer-title">
        Общество с ограниченной ответственностью «Калмык Вул»
    </div>
    <div class="footer-content">
        <app-footer-nav></app-footer-nav>
        <app-footer-contacts></app-footer-contacts>
        <div class="footer-subtitle">

            
            <p>Джиргал Даваев</p> 
            <p>Исполнительный директор ООО «Калмык Вул»</p> 
             <a href="tel:89276456400"></a> Тел.: 8-927-645-64-00.
            <p class="autor">©KalmykiaWool2022</p>
        </div>
        <app-footer-icon></app-footer-icon>
    </div>

</footer>