<footer class="footer"  id="contacts">
    <div class="footer-title">
        {{'FOOTER.FOOTER__title'| translate}}
    </div>
    <div class="footer-content">
        <app-footer-nav></app-footer-nav>
        <app-footer-contacts></app-footer-contacts>
        <div class="footer-subtitle">

            
            <p>Джиргал Даваев</p> 
            {{'FOOTER.FOOTER__director'| translate}}
             <a href="tel:89276456400"> {{'FOOTER.FOOTER__tel'| translate}} +7 (927) 645 64 00.</a> 
            <p class="autor">©KalmykWool2022</p>
        </div>
    
    </div>

</footer>