<section class="form">
    <div class="form__container">
        <div class="form__container-title">
            Оставьте заявку
        </div>
        <div class="form__container-content">
            <form action="" method="post" action="mailto://test@test.com">
                <input type="text" placeholder="Вашe имя">
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="Телефон">
                <a href="#" >
                    <p>Оставить заявку</p> 
                    <div class="form-arrow"></div>
                </a>
            </form>
            <div class="form__container-content-contact">
                <p> 358003, Российская Федерация, Республика Калмыкия, г. Элиста, ул. Клыкова 83, а/я 12</p>
                <a href="tel:11111111">+7 (989)-787- 88-99</a>
                <a href="mailto:ved@puzanov-group.com">ved@puzanov-group.com</a>
            </div>
        </div>

       
      
    </div>
   
        <div class="form-contacts">
            <p> 358003, Российская Федерация, Республика Калмыкия, г. Элиста, ул. Клыкова 83, а/я 12</p>
            <a href="tel:11111111">+7 (989)-787- 88-99</a>
            <a href="mailto:ved@puzanov-group.com">ved@puzanov-group.com</a>
        </div>

</section>

