.menu-link {
    font-weight: 400;
    font-size: 21px;
    line-height: 33px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}


.menu-link:hover {
    transform: scale(0.94);
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    gap:25px;
    &-box{
        display: flex;
        flex-direction: column;
        gap:30px;
    }
}

@media (max-width:800px) {
    .menu-link{
        font-size: 18px;
    }
}



@media (max-width:544px) {
    .footer-nav-box{
        gap:13px;
    }
}