<div class="footer-nav">
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link" href="#about">{{'HEADER.LINK_about' |translate}}</a>
        <a class="menu-link __footer-menu-link" href="#partners">{{'HEADER.LINK_partners' |translate}}</a>
    </div>
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link " href="#process">{{'HEADER.LINK_process' |translate}}</a>
        <a class="menu-link __footer-menu-link" href="#news">{{'HEADER.LINK_news' |translate}}</a>
    </div>
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link" routerLink="/assortment">{{'HEADER.LINK_assortment' |translate}}</a>
        <a class="menu-link __footer-menu-link" routerLink="/staff">{{'HEADER.LINK_staff' |translate}}</a>
    </div>
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link" href="#contacts">{{'HEADER.LINK_contacts' |translate}}</a>
    </div>
</div>