.menu-link {
    font-weight: 400;
    font-size: 21px;
    line-height: 33px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}


.menu-link:hover {
    transform: scale(0.94);
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    &-box {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.__footer-menu-link {
    border: 1px solid rgba(255, 0, 0, 0);
    min-width: 107px;
    line-height: 26px;
    height: 40px;
}

@media (max-width:904px) {
    .footer-nav {
        gap: 15px;

        &-box {
            gap: 25px;
        }
    }

    .menu-link {
        font-size: 18px;
    }

}

@media (max-width:501px) {
    .footer-nav {
        flex-wrap: wrap;
        &-box {
            gap: 5px;
        }
    }

    .__footer-menu-link {
        height: 30px;
    }
}



@media (max-width:340px) {
    .footer-nav {
        gap: 15px;
    }


    .__footer-menu-link {
        min-width: 81px;
        font-size: 13px;
        line-height: 18px;


    }
}