<div class="footer-nav">
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link" href="#about">Информация о компании</a>
        <a class="menu-link __footer-menu-link" href="#partners">Партнеры</a>
    </div>
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link " href="#process">Процесс</a>
        <a class="menu-link __footer-menu-link" href="#news">Сми о нас</a>
    </div>
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link" routerLink="staff">Ассортимент</a>
        <a class="menu-link __footer-menu-link" routerLink="assortment">Сотрудники</a>
    </div>
    <div class="footer-nav-box">
        <a class="menu-link __footer-menu-link" href="#contacts">Контакты</a>
    </div>
</div>