<section class="process" id="process">
    <div class="process__container">
        <div class="process__container-text">
            <div class="process__container-text-title">
                Создание натуральной шерсти
            </div>
            <div class="process__container-text-subtitle">
                При изготовлении пряжи на заводах шерсть очищают специальными средствами, и тщательно её моют 
            </div>
        </div>
        <div class="process__container__content">
            <div class="process__container__content-box">
                <div class="process__container__content-box-imgs">
                    <img src="../../../../assets/images/process/sheep.png" alt="sheep">
                    <img src="../../../../assets/images/process/sheepDecor.png" alt="decor" class="process__container__content-box-imgs-decor1">
                </div>
                <div class="process__container__content-box-number">
                    1
                </div>  
                <div class="process__container__content-box-text">
                    <div class="process__container__content-box-text-title">
                        <p>Переработка шерсти является одной из самых перспективных отраслей для нашего региона</p>
                    </div>
                </div>
            </div>

            <div class="process__container__content-box __box2">
                <div class="process__container__content-box-text __text2">
                    <div class="process__container__content-box-text-title __number2">
                        <p>Переработка шерсти является одной из самых перспективных отраслей для нашего региона</p>
                    </div>
                    
                </div>
                <div class="process__container__content-box-number" style="margin-left: -61px;" >
                    2
                </div>
                <div class="process__container__content-box-imgs">
                    <img src="../../../../assets/images/process/man.png" alt="man">
                </div>
               
            </div>

            <div class="process__container__content-box">
                <div class="process__container__content-box-imgs">
                    <img src="../../../../assets/images/process/sheeps.png" alt="sheep">
                    <img src="../../../../assets/images/process/sheepsDecore.png" alt="decor" class="process__container__content-box-imgs-decor2">
                </div>
                <div class="process__container__content-box-number">
                    3
                </div>
                <div class="process__container__content-box-text">
                    <div class="process__container__content-box-text-title __number3">
                        <p>Переработка шерсти является одной из самых перспективных отраслей для нашего региона</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>