.assortmentItems {
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding-bottom: 80px;

    font-family: Montserrat;
    font-style: normal;

    &-item {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto 1fr;
        justify-content: center;
        gap: 50px;

        & h5 {
            text-align: center;
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
            padding: 40px 0;
            letter-spacing: .08em;
            text-transform: uppercase;
            color: #3d4043;
        }

        &-slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            &-slide {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                width: 100%;

            }

            & img {
                width: 100%;
            }

            & button {
                background-color: #88c6e196;
                border: 1px solid #88c6e1;
                cursor: pointer;
                width: max-content;
                outline: none;
                border: 0;
                animation-name: rotate;
                animation-duration: 1.6s;
                transition: all ease-in-out;
                animation-iteration-count: infinite;

                & p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: 0.01em;
                    color: #37383aa6;
                    padding: 10px 15px;

                }
            }



        }

        &-content {

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;


            & p {
                font-weight: 300;
                font-size: 25px;
                line-height: 30px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #3d4043;
            }
        }
    }

    &-OpenSlider {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        justify-content: center;

        & img {

            width: 450px;
        }
    }

}



@media (max-width: 900px) {
    .assortmentItems {
        gap: 80px;

        &-item {
            gap: 44px;

            & h5 {
                padding: 44px 0;
                font-size: 37px;
            }

            &-slider {
                grid-template-columns: 30px 1fr 30px;
                gap: 27px;
                & button p{
                    padding: 5px 10px;
                    font-size: 15px;
                }
            }

            &-content {


                & p {
                    font-size: 18px;
                    line-height: 22px;
                }

               
            }
        }
        &-OpenSlider img{
            width: 200px;
        }
    }


}


@media (max-width: 600px) {
    .assortmentItems {
        padding-bottom: 40px;
        gap: 40px;

        &-item {
            grid-template-rows: 80px auto 1fr;

            & h5 {
                padding: 34px 0;
                font-size: 27px;
            }
        }
    }


}


@media (max-width:450px) {
    .assortmentItems {
        padding-bottom: 40px;
        gap: 20px;

        &-item {
            grid-template-rows: 57px auto 1fr;
            gap: 15px;
            padding-bottom: 30px;
            border-bottom: 1px solid #3d404357;

            & h5 {
                padding: 18px 0;
                font-size: 21px;
            }

            &-slider {
                grid-template-columns: 20px 1fr 20px;
                gap: 11px;

                &-slide {
                    gap: 8px;
                }
                & button p{
                    padding: 0px 5px;
                    font-size: 11px;
                    color: #3d4043;;
                }
            }

            &-content {

                gap: 9px 6px;

                & p {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        &-item:last-child {
            border: 0;
        }

        &-OpenSlider img{
            width: 120px;
        }
    }

}


@media (max-width:320px) {
    .assortmentItems-item-content {
        gap: 7px;

        & p {
            font-size: 10px;
            line-height: 13px;
        }
    }
}



@keyframes rotate {
    0% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}