<section class="assortmentItems">
    <div class="assortmentItems-item" *ngFor="let item of assortmentDetailed; ">
       <h5>{{item.attributes.title}}</h5>
       <div class="assortmentItems-item-slider">
          <div class="assortmentItems-item-slider-slide" *ngIf="!flag">
            <img src="{{ imgUrl + item.attributes.img.data[0].attributes.url}}" alt="img">
            <img src="{{ imgUrl + item.attributes.img.data[1].attributes.url}}" alt="img">

          </div>

          <div class="assortmentItems-OpenSlider" *ngIf="flag">
             <div *ngFor="let tmp of item.attributes.img.data; let i =index"  >
                
                <img src="{{ imgUrl + tmp.attributes.url}}" alt="img">
               
             </div>
          </div>

          <button (click)="openIMG()" class="assortmentItems-item-slider-showImg">
             <p>{{'BTN.BTN_MORE' | translate}}</p>
          </button>
       </div>
       <div class="assortmentItems-item-content">
          <p>{{"DETAILED.BRAND"|translate}}</p>
          <p>{{item.attributes.Brand}}</p>
          <p> {{"DETAILED.PRODUCTION"|translate}}</p>
          <p>{{item.attributes.PlaceOfOrigin}}</p>
          <p> {{"DETAILED.WEIGHT"|translate}} </p>
          <p>{{item.attributes.Weight}}</p>
          <p> {{"DETAILED.MEASUREMENT "|translate}}</p>
          <p>{{item.attributes.UnitType}}</p>
          <p> {{"DETAILED.PRICE"|translate}}</p>
          <p>{{item.attributes.FOBPrice}}</p>
          <p> {{"DETAILED.MINIMUM_VOLUME"|translate}} </p>
          <p>{{item.attributes.MOQ}}</p>
          <p> {{"DETAILED.PORT"|translate}}</p>
          <p>{{item.attributes.ProcessingTime}}</p>
          <p> {{"DETAILED.NEAREST"|translate}} </p>
          <p>{{item.attributes.Port}}</p>
          <p> {{"DETAILED.PACKAGING "|translate}} </p>
          <p>{{item.attributes.PackagingDetails}}</p>
          <p> {{"DETAILED.VOLUME"|translate}}</p>
          <p>{{item.attributes.Amount}}</p>
          <p> {{"DETAILED.UNIT"|translate}} </p>
          <p>{{item.attributes.Unit}}</p>
          <p> {{"DETAILED.PERIOD"|translate}}</p>
          <p>{{item.attributes.Time}}</p>
       </div>
    </div>
 </section>

