.assortmentItems {
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 80px 0;

    font-family: Montserrat;
    font-style: normal;

    &-item {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto 1fr;
        justify-content: center;
        gap: 50px;

        & h5 {
            text-align: center;
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
          
            letter-spacing: .08em;
            text-transform: uppercase;
            color: #3d4043;
        }

        &-slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 65px;
       
            &-slide {

                display: grid;
                grid-template-columns: repeat(2, minmax(120px, 400px));
                gap: 30px;
                width: 100%;
                justify-content: center;
                align-items: center;
             

            }

            & img {
                width: 100%;
                height: 100%;
               
            }

            & button {
                background-color: #88c6e196;
                border: 1px solid #88c6e1;
                cursor: pointer;
                width: max-content;
                outline: none;
                border: 0;
                animation-name: rotate;
                animation-duration: 1.6s;
                transition: all ease-in-out;
                animation-iteration-count: infinite;
                margin: 0 auto;

                & p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: 0.01em;
                    color: #37383aa6;
                    padding: 10px 15px;

                }
            }



        }

        &-content {

            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 600px));
            gap: 20px;
            justify-content: center;

            & p {
                font-weight: 300;
                font-size: 25px;
                line-height: 30px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #3d4043;
            }
        }
    }

    &-OpenSlider {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        justify-content: center;

        & img {

            width: 450px;
        }
    }

}



@media (max-width: 900px) {
    .assortmentItems {
        gap: 80px;

        &-item {
            gap: 44px;

            & h5 {
               
                font-size: 37px;
            }

            &-slider {
                grid-template-columns: 30px 1fr 30px;
                gap: 27px;

                & button p {
                    padding: 5px 10px;
                    font-size: 15px;
                }
            }

            &-content {


                & p {
                    font-size: 18px;
                    line-height: 22px;
                }


            }
        }

        &-OpenSlider img {
            width: 200px;
        }
    }


}


@media (max-width: 600px) {
    .assortmentItems {
        padding: 40px 0;
        gap: 40px;
        

        &-item {
            grid-template-rows: 50px auto 1fr;
            gap: 13px;
            & h5 {
                padding: 10px 0;
                font-size: 19px;
                line-height: 28px;
            }
            &-content {
                gap: 7px;
                margin-top: 10px;
        
                & p {
                    font-size: 10px;
                    line-height: 13px;
                }
            }
            &-slider {
                & button p {
                    font-size: 13px;
                    padding: 0 7px;
                }
            }
        }
    }

    .assortmentItems-OpenSlider img {
        width: 120px;
    }

}





@keyframes rotate {
    0% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}