.mainPage {
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background:
        linear-gradient(rgba(0, 0, 0, 0.273), rgba(0, 0, 0, 0.8)),
        url('../../../../assets/images/bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -0px;
    left: 0;
    z-index: 1s;
}

.__mainPage-container {
    width: 100%;
    height: max-content;
}

.main-blur{
    display: none;
}

@media (max-width:500px) {
    .mainPage{
       min-height: 711px;
    }
    .main-blur{
        display: block;
    }
}
