<div class="about__content">
    <div class="about__content-box __about__content-box1 __about__content-box1-mob">
        
        <div class="about__content-box-circle">
            <div class="about__content-box-circle-text">
                <p>*калмыцкий меринос ценен крепкой конституции и уникальным качеством тонкорунной шерсти </p>
            </div>
        </div>
        <div class="about__content-box-arrow"></div>
    </div>
    <div class="about__content-img">
        <div class="about__content-img-decor"></div>
        <img src="assets/images/image 9.png" alt="camel">

    </div>
     <div class="about__content-box __about__content-box2 __about__content-box2-mob">
        
        <div class="about__content-box-circle __about__content-box2-mob-circle">
            <div class="about__content-box-circle-text">
                <p>*овечья шерсть — замечательное сырье для производства шерстянных тканей, пользуется повышенным спросом у комвольных комбинатов</p>
            </div>
        </div>
        <div class="about__content-box-arrow __about__content-box-arrow2"></div>
    </div>
    <!-- <div class="about__content-box __about__content-box3 ">
        
        <div class="about__content-box-circle">
            <div class="about__content-box-arrow __about__content-box-arrow3"></div>
            <div class="about__content-box-circle-text">
                <p>*верблюжья шерсть качественная, способна долго сохранять тепло, не пропуская ветра</p>
            </div>
        </div>
        
    </div> -->
</div>