.header {

    height: 141px;
    width: 100%;
    padding: 0px 100px;

    display: flex;
    justify-content: space-between;
    gap: 168px;

    &-menu {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        &-left,
        &-right {
            display: flex;
            gap: 30px;
        }
    }

    &-burger {
        display: none;
    }

    &-logo {
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.menu-link {
    font-weight: 400;
    font-size: 21px;
    line-height: 33px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}


.menu-link:hover {
    transform: scale(0.94);
}

.select {
    width: 40px;
    background-color: inherit;
    color: rgb(255, 255, 255);
    outline: none;
    border: 0;

    & option {
        color: black
    }
}




@media (max-width:1322px) {
    .header {
        padding: 0 60px;

        &-menu {
            gap: 45px;

            &-left,
            &-right {
                flex-wrap: wrap;
                gap: 15px;
                justify-content: space-evenly;
            }
        }
    }

    .menu-link {
        font-size: 17px;
    }
}

@media (max-width: 1048px) {
    .header {
        padding: 0 20px;
    }
}

@media (max-width:700px) {

    .header-menu,
    .header-logo a {
        display: none;
    }

    .header {
        padding: 0;
    }

    .header-burger {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 10;
        top: -84px;
        gap: 18px;

        &-logo {
            position: absolute;
            top: 9px;
            left: 50%;
            height: 80px;
            transform: translate(-50%, -50%);
        
        }

        &-icon {
            position: absolute;
            top: 19px;
            right: 0;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
        }

        &-menu {

            width: 100%;
            display: flex;
            gap: 28px;
            padding: 10px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            top: 114px;
            

        }

    }

    .menu-link {
        border-bottom: 1px solid #ffffff8f;
        font-size: 21px;
    }

    .select {
        position: absolute;
        right: 10px;
        top: 45px;
        width: 40px;
        background-color: inherit;
        color: rgb(255, 255, 255);
        outline: none;
        border: 0;
        display: flex;

        & option {
            color: black
        }

    }



}

@media (max-width:510px) {
    .header-burger-menu {
        top: 86px;
    }

    .header-burger {
        &-icon {
            width: 30px;
        }

        &-logo {
            width: 68px;
            height: auto;
        }
    }

}

@media (max-width:410px) {
    .header-burger-menu {
        gap: 19px;
        top: 84px;
    }

    .menu-link {
        font-size: 19px;

    }
}